<h1>Ad Libbin'</h1>

<form id="initiate-game">
  <label>Select A Story</label>
  <select name="categories">
    <option value="">Story 1</option>
    <option value="">Story 2</option>
    <option value="">Story 3</option>
  </select>
  <label>Select A Number Of Players</label>
  <select>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  <input type="submit" value="Start Game!">
  <submit>

  

</form>