<div id="page-wrapper">
  <div id="title-div">
    <h1 id="title">Ad Libbin'</h1>
  </div>

  <form id="initiate-game">
    <label>Select A Story</label>
    <select id="categories"name="categories">
    </select>
    <label>Select A Number Of Players</label>
    <select id="number-of-players">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    <input type="submit" value="Start Game!">
    <!-- <submit> -->
  </form>

  <div id="completed-story">
    
  </div>

  <div id="get-answers">
    <form id="answer-text-label">
      <h2 id="answers">Words:</h2>
      <button id="submit-answer">Submit Answers!</button>
    </form>
  </div>

</div>