<div id="page-wrapper">
  <div id="title-div">
    <h1 id="title">Ad Libbin'</h1>
  </div>

  <form id="initiate-game">
    <label>Select A Story</label>
    <select id="categories"name="categories">
    </select>
    <br/>
    <label>Select A Number Of Players</label>
    <select id="number-of-players">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <br/>
    <input type="submit" value="Start Game!">
    <!-- <submit> -->
  </form>

  <div id="completed-story">
    
  </div>

  <div id="get-answers">
    <form id="answer-text-label">
      <ul id="answers-ul">
      </ul>
      <button id="submit-answers">Submit Answer!</button>
    </form>
  </div>
</div>
 <footer>
  <section id="add-story-link">
    <%= link_to("Add A New Story!", new_story_skeleton_path) if logged_in?%>
    <%= link_to("Admin Log In", "/login") if session[:user_id].nil? %>
    <%= link_to("Log Out #{User.find_by(id: session[:user_id]).name}!", "/session", method: "delete") unless session[:user_id].nil? %>
  </section>
  </footer>