/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: courier;
  background-color: #BEC8E9;
}

select{
  font-family: courier;
}


#submit-answers {
  display: none;
}

ul {
  list-style-type: none;
}

#completed-story{
  margin: 10px 10px 25px 10px;
  font-size: 1.5em;
  padding: 25px 10px 30px 10px;
  border: 1px solid black;
  border-radius: 2.5px;
  background-image: url(http://demilked.uuuploads.com/free-paper-textures/free-paper-texture-38.jpg);
  display: none;
 /* -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
*/
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;


}